<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Resultados da Busca - CINEpixel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>CINEpixel</h1>
        <nav>
            <ul>
                <li><a href="/">Página Inicial</a></li>
                <li><a href="/tudo">Filmes</a></li>
                <li><a href="/generos">Gêneros</a></li>
                <li><a href="/personalizado">Filtro</a></li>
                <li><a href="/favoritos">Favoritos</a></li>
            </ul>
        </nav>
    </header>

    <section id="busca">
        <form action="/buscar" method="GET" class="form-busca">
            <div class="search-box">
                <span class="icon">&#128269;</span>
                <input type="text" name="q" placeholder="Search" value="{{ termo }}" required>
            </div>
        </form>
    </section>

    <section id="resultados">
        <h2>Você buscou por: "{{ termo }}"</h2>

        {% if resultados %}
            <div class="filmes-container">
                {% for filme in resultados %}
                <a href="{{ url_for('detalhes_filme', slug=filme.slug) }}" style="text-decoration: none;">
                    <div class="filme-card">
                        <img src="{{ url_for('static', filename=filme.imagem.replace('static/', '')) }}" alt="{{ filme.titulo }}">
                        <h3>{{ filme.titulo }}</h3>
                        <p><strong>Lançamento:</strong> {{ filme.data_lancamento }}</p>
                        <p> ⭐ {{ filme.avaliacao }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        {% else %}
            <p style="text-align:center; margin-top: 30px;">Nenhum filme encontrado com esse nome.</p>
        {% endif %}
    </section>

    <footer>
        <p>&copy; 2025 CINEpixel</p>
    </footer>
</body>
</html>
