<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{ filme.titulo }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>CINEpixel</h1>
        <nav>
            <ul>
                <li><a href="/">Página Inicial</a></li>
                <li><a href="/tudo">Filmes</a></li>
                <li><a href="/generos">Gêneros</a></li>
                <li><a href="/personalizado">Filtro</a></li>
                <li><a href="#">Resenhas</a></li>
            </ul>
        </nav>
    </header>
<h2 style="margin-top: 20px;">{{ filme.titulo }}</h2>

<div class="detalhes-container">
    
    <img src="/{{ filme.imagem }}" alt="{{ filme.titulo }}" class="poster-filme">

    <div class="info-filme">
        <h2>{{ filme.titulo }}</h2>
        <p class="ano">{{ filme.ano }}</p>

        <p>{{ filme.sinopse }}</p>

        <p class="avaliacao">⭐ {{ filme.avaliacao }}/10</p>

        <a href="/" class="botao-voltar">⬅ Voltar</a>
    </div>
</div>


    <footer>
        <p>&copy; 2025 CINEpixel</p>
    </footer>
</body>
</html>
