<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{ filme.titulo }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>CINEpixel</h1>
        <nav>
            <ul>
                <li><a href="/">Página Inicial</a></li>
                <li><a href="/tudo">Filmes</a></li>
                <li><a href="/generos">Gêneros</a></li>
                <li><a href="/personalizado">Filtro</a></li>
                <li><a href="/favoritos">Favoritos</a></li>
            </ul>
        </nav>
    </header>

<h2 style="margin-top: 20px;">Informações gerais</h2>

<div class="detalhes-container">
    
    <img class="poster-filme" src="{{ url_for('static', filename=filme.imagem.replace('static/', '')) }}" alt="{{ filme.titulo }}">

    <div class="info-filme">
        <h2>{{ filme.titulo }}</h2>
        <p><strong>Lançamento:</strong> {{ filme.data_lancamento }}</p>
        <p><strong>Gêneros:</strong> {{ ', '.join(filme.generos) }}</p>

        <p class="genero"><strong>Sinopse:</strong> {{ filme.sinopse }}</p>

        <p class="avaliacao">⭐ {{ filme.avaliacao }}</p>

        {% if filme.trailer %}
        <a href="{{ url_for('assistir_trailer', slug=filme.slug) }}" 
           class="botao-voltar" >
            🎬 Assistir Trailer
        </a>
        {% endif %}

        <a href="javascript:history.back()" class="botao-voltar">⬅ Voltar</a>
<form action="{{ url_for('favoritar', slug=filme.slug) }}" method="POST" style="display:inline;">
    <button type="submit" class="heart-btn">
        {% if filme.slug in session.get('favoritos', []) %}
            ❤️
        {% else %}
            🤍
        {% endif %}
    </button>
</form>
    </div>
</div>

<footer>
    <p>&copy; 2025 CINEpixel</p>
</footer>
</body>
</html>
