<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{ genero }} - CINEpixel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header>
        <h1>CINEpixel</h1>
        <nav>
            <ul>
                <li><a href="/">Página Inicial</a></li>
                <li><a href="/tudo">Filmes</a></li>
                <li><a href="/generos">Gêneros</a></li>
                <li><a href="/personalizado">Filtro</a></li>
                <li><a href="#">Resenhas</a></li>
            </ul>
        </nav>
    </header>

    <h2 style="margin-top: 40px; font-family: 'Bebas Neue', cursive; font-size: 3em; color: var(--cor-principal);">
        Filmes de <span>{{ genero }}</span>
    </h2>

    <div style="margin: 20px 0;">
        <a href="javascript:history.back()" class="botao-voltar">⬅ Voltar</a>
    </div>

    <div class="filmes-container">
        {% if filmes %}
            {% for filme in filmes %}
                <a href="{{ url_for('detalhes_filme', slug=filme.slug) }}" style="text-decoration: none;">
                    
                    <div class="filme-card">
                        <img src="{{ url_for('static', filename=filme.imagem.replace('static/', '')) }}" alt="{{ filme.titulo }}">
                        
                        <h3>{{ filme.titulo }}</h3>
                        
                        <p><strong>Lançamento:</strong> {{ filme.data_lancamento }}</p>
                        <p>⭐ {{ filme.avaliacao }}</p>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <p style="font-size: 1.2rem; margin-top: 30px; color: #ccc;">Nenhum filme encontrado para esse gênero.</p>
        {% endif %}
    </div>

    <footer>
        <p>&copy; 2025 CINEpixel</p>
    </footer>

</body>
</html>