<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genêros</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   <header>
        <h1>CINEpixel</h1>
        <nav>
            <ul>
                <li><a href="/">Página Inicial</a></li>
                <li><a href="/tudo">Filmes</a></li>
                <li><a href="/generos">Genêros</a></li>
                <li><a href="/personalizado">Filtro</a></li>
                <li><a href="#">Resenhas</a></li>
            </ul>
        </nav>
    </header>

    <main class="generos-grid">
        {% for genero in generos %}
            <a href="{{ url_for('filmes_do_genero', nome=genero) }}" class="genero-card">
                <span>{{ genero }}</span>
            </a>
        {% endfor %}
    </main>
</body>
</html>
